@mixin grid($split, $padding : $grid-padding) {
  display: flex;
  flex-flow: row wrap;
  margin-left: -$padding / 2;
  width: calc(100% - -#{$padding});

  > * {
    list-style: none;
    margin: 0 $padding / 2;
    width: calc(99.99% * 1/#{$split} - #{$padding});
  }
}

.grid-2-sm {
  @include grid(2);
  @include bp(sm){
    @include grid(1);
  }
}

.grid-2 {
  @include grid(1);

  @include bp(md){
    @include grid(2);
  }
}

.grid-3 {
  align-items: baseline;
  @include grid(2, 1rem);

  @include bp(sm){
    @include grid(2);
  }
  @include bp(lg){
    @include grid(3);
  }
}
