@import 'base/variables';
@import 'base/grid';
@import 'base/mq';

@import 'components/header';

// 2. General styles for base elements (body, a, p, h1...6 etc.)
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: $anchor;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}

dt {
  clear: left;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 100px;
}

dd {
  margin: 0 0 0 7rem;
  padding: 0 0 .5em;
}

sup {
  font-size: 16px;
  position: relative;
  top: -0.25rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  margin: 0;
}

h1,h2,h3,h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

ul {
  padding: 0;
  li {
  list-style: none;
  }
}
.row {
  margin: 0 auto;
  max-width: 1140px;
  width: 80%;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
}

hr {
  background: $black;
  border: 0;
  height: 1px;
}

.text-content {
  margin: 0 auto;
  max-width: 640px;
}

.mb-l {
  margin-bottom: 6rem;
}

.mt-l {
  margin-top: 6rem;
}

.mb-s {
  margin-bottom: 1rem;
}

.mt-s {
  margin-top: 1rem;
}

.projects {
  a {
    background: $white;
    position: relative;

    &.active {
      color: $black;

      &::after {
        content: '';
        height: 1px;
        width:100vw;
        position: absolute;
        display: block;
        background: lighten($black, 88%);
        top:18px;
        z-index: -1;
      }
    }
  }
}

.next-prev {
  a {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    @include bp(sm) {
      width: 50%;
    }
  }
  h3 {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .next {
    @include bp(sm) {
      margin-left: auto;
    }
  }

  .next-prev-image {
    margin-right: 1rem;
    float: left;
    height: 80px;
    width: 80px;
    position: relative;
    display: block;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}

#projects {
  position: absolute;
  height: 100vh;
  top:0;
  width: 70%;
  left: 30%;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;

    &.active {
      img {
        z-index: 1;
        opacity: 1;
      }
    }
  }

  img {
    transition: .6s ease-out all;
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include bp(sm){
  flex-direction: row;
  }
}

.relative {
  position: relative;
}
