@import 'base/variables';
@import 'components/header';

// 2. General styles for base elements (body, a, p, h1...6 etc.)
a {
  color: $anchor;
  text-decoration: none;
}

dt {
  clear: left;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 100px;
}

dd {
  margin: 0 0 0 7rem;
  padding: 0 0 .5em;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
}

.row {
  margin: 0 auto;
  max-width: 1140px;
  width: 88%;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
}

hr {
  background: $black;
  border: 0;
  height: 1px;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  margin-left: -$grid-padding / 2;
  padding: 0;
  width: calc(100% - -#{$grid-padding});

  li {
    list-style: none;
    margin: 0 $grid-padding / 2;
    width: calc(99.99% * 1/3 - #{$grid-padding});
  }
}
// 3. Tightly coupled styles for components


// 4. Generic helper classes (usually small dirty hacks, keep this folder clean yo!)
