.header {
  background: darken($white, 3);
  padding: 3rem 0;
  .row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  img {
    max-height: 3rem;
  }
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin-left: 1rem;
  }
}
