.header {
  background: darken($white, 3);
  float: left;
  height: 100vh;
  padding: 3rem;
  position: relative;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include bp(sm){
  min-width: 20rem;
  width: 30%;
  }
  .row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  img {
    max-height: 3rem;
  }
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin-left: 1rem;
  }
}
