.header {
  background: $white;
  float: left;
  padding: 2rem;
  position: relative;
  min-height: 100vh;
  width: 100%;
  z-index: 2;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include bp(sm){
    min-width: 16rem;
    width: 40%;
    padding: 2rem;
  }

  .row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.header-content {
  min-width: 100%;
  @include bp(sm) {
    min-width: initial;
  }
  li {

    margin-bottom: 1rem;

    @include bp(sm) {
      margin-bottom: 0
    }

    @include bp(sm) {
      display: block;
    }

    h2 {
      font-size: 1.25rem;
      @include bp(sm) {
        font-size: 1.5rem;
      }
    }

    img {
      height: 100px;
      width: 100%;
      object-fit: cover;
    }
  }

}

.logo {
  img {
    max-height: 3rem;
  }
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin-left: 1rem;
  }
}
